body
{
    display: flex;
    background-image: url("https://d2r55xnwy6nx47.cloudfront.net/uploads/2020/03/RockPaperScissor-2880x1620_Lede.jpg"); 
    background-size: cover;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
button
{
    padding:1vw 5vw;
}
h2{font-family: 'Courgette', cursive;}
span,button{font-size:large;}
div{
    text-align: center;
    background: linear-gradient(to bottom, rgba(77, 0, 76,0.5), rgba(60, 0, 90,0.5));
    color: aliceblue;  
    padding: 3vw ;
    border-radius: 2vh;
}
