body
{
    display: flex;
    background: "https://us.123rf.com/450wm/tinkivinki/tinkivinki1711/tinkivinki171100011/90106161-hand-game-rock-scissors-paper-rules-gestures-vector.jpg?ver=6"; 
    background-size: cover;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
button
{
    padding:1vw 5vw;
}
h2{font-family: 'Courgette', cursive;}
span,button{font-size:large;}
div{
    text-align: center;
    background: linear-gradient(to bottom,grey, rgba(0, 183, 255, 0.3));
    color: aliceblue;  
    padding: 3vw ;
    border-radius: 2vh;
}
